# Ignorar carpetas generadas automáticamente por Unity en todos los proyectos
**/[Ll]ibrary/
**/[Aa]ssets/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Mm]emoryCaptures/

# Configuraciones específicas del usuario
**/[Uu]ser[Ss]ettings/

# Archivos generados automáticamente por Unity
**/*.csproj
**/*.unityproj
**/*.sln
**/*.suo
**/*.tmp
**/*.user
**/*.userprefs
**/*.pidb
**/*.booproj
**/*.svd
**/*.pdb